{% extends 'userprofile/base.html' %}

{% block content %}
<!doctype html>
<html lang="en">
{% load static %}
<head> 
    <base href='/'>
    <link rel="stylesheet" href="{% static 'forum/main2.css' %}"> 
</head>

<div id="login page">
    <!-- Written by Karishma Gupta - 
        displays a welcome slogan before the user logs in-->
    <h1 class="text-center h1Text">Welcome to the Peddie Community Board!</h1>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4 col-lg-offset-4" id="loginBlock">
            
               <div class="logo">
               </div>

               <div class="row pad">
                    <div class="col-lg-10 col-lg-offset-1">
                        <form action="" method="POST" role="form">
                            {% csrf_token %}
                            {{form.as_p}}
                           <input type="text" name="username" placeholder="username">
                           <input type="password" name="password" placeholder="password">
                           <input class="button" type="submit" value="Login">
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
</html>
{% endblock %}