{% extends 'userprofile/base.html' %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-lg-12 col-lg-offset-0">

            <!-- display the page title and the number of threads we got from the database -->

            <!-- THIS IS A STUB. Essentialy this should just use the user data to populate the profile, but for now we just hard coded-->
            <div class="row pad">
                <div class="col-lg-12">
                    <div class="panel panel-primary">
                        <div class="card-body">
                        <ul class="list-group">
                            <li class="list-group-item">
                                Email: compsciclub@peddie.org <strong class="float-right"></strong>
                            </li>
                            <li class="list-group-item">
                                Username: peddie_test<strong class="float-right"></strong>
                            </li>
                            <li class="list-group-item">
                                Number of Posts: 1<strong class="float-right"></strong>
                            </li>
                        </ul>
                    </div>
                    </div>
                </div>
                
                </div>
            </div>


    </div>
</div>
</div>

{% endblock %}