{% extends 'userprofile/base.html' %}
<!-- Based on a template from this GitHub from a tutorial: https://github.com/Debu07/forum_starter-->
{% block content %}
<!-- code that allows new users to register for an account on the website-->
<div class="container">
    <div class="card-body">
    <form action="" method="POST">
        {% csrf_token %}
        {{form.as_p}}
        <div class="error"> errors </div>
        <input class="btn btn-primary" type="submit" value="Submit">
    </form>
</div>
</div>

{% endblock %}