{% extends 'userprofile/base.html' %}

{% block content %}
<!doctype html>
<html lang="en">

<head>
  <link href="\sample_forum_app\community\forum\templates\main.css" type="text/css" rel="stylesheet"> 
</head>

<body>
<!--ADD STYLING TO EVERYTHING; classes incompelte rn-->
<div id="about website">
    <h1 class="h1Text">About the Website</h1>

    <h2 class="h2Text">Description</h2>
    <p>
        <!--enter info-->
    </p>    

    <h2 class="text-left h2Text">Goals</h2>
    <p>
        <!--enter info-->
    </p>
</div>

<div id="meet team">
    <h1 class="h1Text">Meet the Team</h1>
    <img src=""/>
    <h2>person 1</h2>
    <h3>email</h3>
    <img src=""/>
    <h2>person 2</h2>
    <h3>email</h3>
    <img src=""/>
    <h2>person 3</h2>
    <h3>email</h3>
    <img src=""/>
    <h2>person 4</h2>
    <h3>email</h3>
    <img src=""/>
    <h2>person 5</h2>
    <h3>email</h3>
</div>
</body>
</html>
{% endblock %}