{% extends 'userprofile/base.html' %}

{% block content %}
{% load static %}

<head>
    <link rel="stylesheet" href="{% static 'forum/main.css' %}"> 
</head>


<div class = "row">
    <div class="column left" style="border-right:1px solid gray">
        <h2 style="width:auto; text-align:center;">Tags</h2>
        <a style="width:auto; text-align:center;" class="tag1" href"/">tag 1</a>  
       <!--<p style= "width:100px; text-align:right;">tag</p>--> 
    </div>
    <div class="column right">
<div class="container">
    <div class="row">
        <div class="col-lg-12 col-lg-offset-0">
        <div class="card-body">
                <h1 style="font-size:30px; color:black; display:inline-block; width:700px; text-align:left;">Posts</h1>
                        <a class="post" href="{% url 'forum:newPost' %}" style="color:goldenrod;">New Post</a>
            
                

        <table class="table">
            <thead>
              <tr>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
                <th scope="col">Last Post</th>
                <th>Reply</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><a href="" class="detailsText">name</a></td>
                <td> description </td>
                <td> date </td>
                <td><a href=""> Reply</a></td>
            </tr>
            </tbody>
          </table>
        </div>
    </div>


<!-- <div class="modal fade" id="newModal">
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title"></h4>
        </div>
        <div class="modal-body">
            <form action="" method="POST" role="form">
                {% csrf_token %}
                {{form.as_p}}
                <div class="form-group">
                    <label for="name">Thread Name</label>
                    <br>
                        Title
                </div>
                <div class="form-group" >
                    <label for="description">Description</label>
                    <br>
                       
                </div>
                
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
    </div>
</div>
</div> -->

<h1>{{ post.title }}</h1>
<small>By: {{ post.user }}</small></br>
<hr>
<br/>
{{ post.body }}

{% endblock %}