{% extends 'userprofile/base.html' %}

{% block content %}
{% load static %}

<head>
    <!-- this link ensures that the formating in css transfers to this code in html -->
    <link rel="stylesheet" href="{% static 'forum/main.css' %}"> 
</head>

<!---->
<div class = "row">
    <div class="column left" style="border-right:1px solid gray"> <!--barrier between tags and posts-->
        <h2 style="width:auto; text-align:center;">Tags</h2>
        <a style="width:auto; text-align:center;" class="tag1" href"/">Peddie Academics</a>  
       <!--<p style= "width:100px; text-align:right;">tag</p>--> 
    </div>
    <div class="column right">
<div class="container">
    <div class="row">
        <div class="col-lg-12 col-lg-offset-0">
        <div class="card-body">
                <h1 style="font-size:30px; color:black; display:inline-block; width:700px; text-align:left;">Posts</h1>
                        <a class="post" href="{% url 'forum:newPost' %}" style="color:goldenrod;">New Post</a> <!-- button for the new post that links to create a new post page-->
            
                

        <table class="table">
            
            <thead>
                
              <tr>
                <th scope="col">Name</th>
                <th scope="col">Title</th>
                <th scope="col">Date posted</th>
                <th>Reply</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <!-- {% for post in posts.all %}
                    <td><a href="{% url 'forum:postDetail' post.pk %}" class="detailsText">{{ post.user }}</a></td>
                    <td> {{ post.title }} </td>
                    <td> {{ post.created_at }} </td>
                    <td><a href=""> Reply</a></td>
                {% endfor %} -->

                    <!-- This is just a stub, hardcoded values to make sure that index.html displays the table info fine-->
                    <td>peddie_test</td>
                    <td> Test Post </td>
                    <td> 5:00 </td>
                    <td><a href=""> Reply</a></td>
            </tr>
            </tbody>
          </table>

        <!-- <div class="container">
            <div class="row">
                <div class="col-md-8 mt-3 left">
                    {% for post in post_list %}
                    <div class="card mb-4">
                        <div class="card-body">
                            <h2 class="card-title">{{ post.title }}</h2>
                            <p class="card-text text-muted h6">{{ post.user }} | {{ post.created_on }} </p>
                            <p class="card-text">{{post.content|slice:":200"}}</p>
                            <a href="{% url 'forum:postDetail' post.pk %}" class="btn btn-primary">Read More &rarr;</a>

        </div>
    </div>
    {% endfor %}
</div>
</div>
</div> -->
   
{% endblock %}

