{% extends 'userprofile/base.html' %}

{% block content %}
<!DOCTYPE html>
<html>
<head>
    <link href="\sample_forum_app\community\forum\templates\main.css" type="text/css" rel="stylesheet"> 
</head>

<body>
<!--ADD STYLING TO EVERYTHING; classes incompelte rn-->
<div>
    <h1 class="h1Text">Terms and Conditions</h1>
    <ol class="detailsText">
        <li>
            Be respectful to everyone
        </li>
        <li>
             
        </li>
    </ol>
</div>
</body>
</html>
{% endblock %}