.nav-link {
    color: blue !important;
}

#error {
    color: red;
}

.button{
    background-color: #1C4587;
    color: #F1C232;
    font-weight: bold;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    
    
}

.detailsText {
    font-size: 18px;
    color: blue;
}